body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.check-container {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #cccccc;
  border-radius: 50%;
  margin-left: 5px;
}

.check-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}

.check-container svg path {
  fill: #3a3a3a;
}

.wrapper {
  display: flex;
  align-items: center;
}
